<main class="weather" [ngClass]="{'dark-mode': darkMode}">
  <header class="weather__header">
    <img class="weather__header--logo" src="assets/images/logo.png" alt="logo">
    <span class="weather__header--logo-name">Weather</span>
    <input type="text" [formControl]="searchCtrl" placeholder="Add meg a város nevét..." (keyup)="searchCity($event)">
    <img class="weather__header--mode" *ngIf="!darkMode" src="assets/icons/dark.png" alt="dark" (click)="putDarkMode(true)">
    <img class="weather__header--mode" *ngIf="darkMode" src="assets/icons/light.svg" alt="light" (click)="putDarkMode(false)">
  </header>
  <section class="weather__content">
    <article class="weather__content--container">
        <div class="row">
          <div class="row__column auto">
            <span class="row__column--name">{{ filteredCurrentWeatherData?.name }}</span>
            <span class="row__column--all">{{ filteredCurrentWeatherData?.dt * 1000 | date: 'EEEE HH:mm' }}</span>
            <span class="row__column--all">{{ filteredCurrentWeatherData?.weather[0].description }}</span>
          </div>
          <div class="row__row">
            <div class="row__row--img-container">
              <img *ngIf="filteredCurrentWeatherData?.weather[0].icon" [src]="'http://openweathermap.org/img/wn/' + filteredCurrentWeatherData?.weather[0].icon + '@2x.png'">
            </div>
            <span class="row__row--temp" *ngIf="isMetric">{{ round(filteredCurrentWeatherData?.main?.temp, true) }}</span>
            <span class="row__row--temp" *ngIf="!isMetric">{{ round(filteredCurrentWeatherData?.main?.temp, false) }}</span>
            <span class="row__row--temp-button" [ngClass]="{'active': isMetric}" (click)="changeUnits(true)">ºC</span>
            <div class="row__row--line"></div>
            <span class="row__row--temp-button" [ngClass]="{'active': !   isMetric}" (click)="changeUnits(false)">ºF</span>
          </div>
          <div class="row__column start">
              <span class="row__column--all">Humidity: {{ filteredCurrentWeatherData?.main?.humidity }}%</span>
              <span class="row__column--all">Wind: {{ toKmh(filteredCurrentWeatherData?.wind?.speed) }} km/h</span>
          </div>
          <div class="row__column margin" *ngIf="filteredCurrentWeatherData?.sys?.sunrise && filteredCurrentWeatherData?.sys?.sunset">
            <span class="row__column--all">Sunrise: {{ filteredCurrentWeatherData?.sys?.sunrise * 1000 | date: "HH:mm" }}</span>
            <span class="row__column--all">Sunset: {{ filteredCurrentWeatherData?.sys?.sunset * 1000 | date: "HH:mm" }}</span>
          </div>
        </div>
        <div class="chart" id="container">
          <div *ngIf="isLoading" class="chart__spinner"></div>
          <app-chart *ngIf="!isLoading" [data]="chartData" [width]="containerWidth" [height]="300" [precision]="0"></app-chart>
        </div>
        <div class="forecast">
          <div class="forecast__card" [ngClass]="{'active': index == currentIndex}" *ngFor="let element of foreCastData; let index = index" (click)="filterChartData(element.dt_txt, index)">
            <span class="forecast__card--title">{{ element.dt_txt | date: 'EEEE' }}</span>
            <div class="forecast__card--img-container">
              <img [src]="'http://openweathermap.org/img/wn/' + element?.weather[0].icon + '@2x.png'">
            </div>
            <span *ngIf="isMetric">{{ round(element.main.temp, true) }}ºC</span>
            <span *ngIf="!isMetric">{{ round(element.main.temp, false) }}ºF</span>
          </div>
        </div>
    </article>
  </section>
  <app-map [lat]="filteredCurrentWeatherData?.coord?.lat" [lon]="filteredCurrentWeatherData?.coord?.lon"></app-map>
</main>