<main class="weather" [ngClass]="{'dark-mode': darkMode}">
  <header class="weather__header">
    <img class="weather__header--logo" src="assets/images/logo.png" alt="logo">
    <span class="weather__header--logo-name">Időjárás</span>
    <input type="text" [formControl]="searchCtrl" placeholder="Add meg a város nevét...">
    <img class="weather__header--mode" *ngIf="!darkMode" src="assets/icons/dark.png" alt="dark" (click)="putDarkMode(true)">
    <img class="weather__header--mode" *ngIf="darkMode" src="assets/icons/light.png" alt="light" (click)="putDarkMode(false)">
  </header>
  <section class="weather__content">
    <article class="weather__content--container">
        <div class="row">
            <div class="row__img-container">
                <img *ngIf="currentWeatherData?.weather[0].main == 'Clear'" src="assets/images/sunny.png" alt="sunny">
            </div>
            <span class="row__temp" *ngIf="isMetric">{{ round(currentWeatherData?.main?.temp, true) }}</span>
            <span class="row__temp" *ngIf="!isMetric">{{ round(currentWeatherData?.main?.temp, false) }}</span>
            <span class="row__temp-button" [ngClass]="{'active': isMetric}" (click)="isMetric = true">ºC</span>
            <div class="row__line"></div>
            <span class="row__temp-button" [ngClass]="{'active': !   isMetric}" (click)="isMetric = false">ºF</span>
            <div class="row__column">
                <span>Páratartalom: {{ currentWeatherData?.main?.humidity }}%</span>
                <span>Szél: {{ toKmh(currentWeatherData?.wind?.speed) }} km/h</span>
            </div>
        </div>
    </article>
  </section>
  <app-map [lat]="currentWeatherData?.coord?.lat" [lon]="currentWeatherData?.coord?.lon"></app-map>
</main>