@import './shared/shared.scss';

.weather {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $light-mode-background;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    &.dark-mode {
        background-color: $dark-mode-background;
        .weather {
            &__header {
                &--logo-name {
                    color: #FFF;
                }
                input {
                    background-color: $dark-mode-background;
                    border: 2px solid #FFF;
                    color: #FFF;
                }
            }
            &__content {
                &--container {
                    background-color: rgba(0, 0, 0, 0.7);
                    .row {
                        &__row {
                            &--temp {
                                color: #FFF;
                            }
                            &--temp-button {
                                &.active {
                                    color: #FFF;
                                }
                            }
                            &--line {
                                background-color: #FFF;
                            }
                        }
                        &__column {
                            &--all {
                                color: #FFF;
                            }
                            &--name {
                                color: #FFF;
                            }
                        }
                    }
                    .forecast {
                        span {
                            color: #FFF;
                        }
                        &__card {
                            &.active {
                                background-color: rgba(72, 72, 72, 0.7);
                            }
                            &:hover {
                                background-color: rgba(72, 72, 72, 0.7);
                            }
                        }
                    }
                }
            }
        }
    }
    &__header {
        display: flex;
        height: 100px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        &--logo {
            height: 50px;
            width: 50px;
            margin: auto 0 auto 32px;
        }
        &--logo-name {
            font-size: 32px;
            line-height: 40px;
            margin: auto 0 auto 16px;
            font-weight: bold;
            color: #000;
        }
        input {
            padding: 12px 16px;
            width: 300px;
            font-size: 18px;
            box-sizing: border-box;
            border: 2px solid #000;
            color: #000;
            margin: auto 16px auto auto;
            border-radius: 8px;
            &:focus {
                outline: none;
            }
        }
        &--mode {
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin: auto 32px auto 0;
        }
    }
    &__content {
        display: flex;
        height: calc(100vh - 100px);
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        &--container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto 32px;
            border-radius: 16px;
            box-sizing: border-box;
            padding: 32px;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.7);
            overflow-y: auto;
            .row {
                display: flex;
                &__row {
                    display: flex;
                    margin: 0 auto;
                    &--img-container {
                        width: 100px;
                        height: 100px;
                        margin: auto 12px auto 0;
                        img {
                            width: 100%;
                        }
                    }
                    &--temp {
                        font-size: 48px;
                        line-height: 60px;
                        margin: auto 12px auto 0;
                        color: #000;
                    }
                    &--temp-button {
                        font-size: 16px;
                        line-height: 20px;
                        margin: auto 0;
                        cursor: pointer;
                        color: #CCC;
                        &.active {
                            color: #000;
                        }
                    }
                    &--line {
                        width: 1px;
                        height: 16px;
                        margin: auto 4px;
                        background-color: #000;
                    }
                }
                &__column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: auto 0 auto 16px;
                    &--all {
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 0 4px 0;
                        color: #000;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    &--name {
                        font-size: 48px;
                        line-height: 60px;
                        margin: 0 0 16px 0;
                        color: #000;
                    }
                }
                .start {
                    align-items: flex-start;
                    margin: auto 32px;
                }
                .margin {
                    align-items: flex-start;
                    margin: auto 32px;
                }
                .auto {
                    margin: auto auto auto 32px;
                }
            }
            .chart {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 24px 0;
                height: 300px;
                &__spinner {
                    border: 16px solid #f3f3f3;
                    border-top: 16px solid #000;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    animation: spin 2s linear infinite;
                }
            }
            .forecast {
                display: flex;
                gap: 24px;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                flex-wrap: wrap;
                &__card {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 24px;
                    border-radius: 8px;
                    &.active {
                        background-color: rgba(228, 228, 228, 0.7);
                    }
                    &:hover {
                        background-color: rgba(228, 228, 228, 0.7);
                    }
                    &--img-container {
                        width: 64px;
                        height: 64px;
                        margin: 0 auto 16px auto;
                        img {
                            width: 100%;
                        }
                    }
                    span {
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 auto 16px auto;
                        color: #000;
                        &:last-child {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .weather {
        &__content {
            &--container {
                border-radius: 0;
                margin: 0;
                .row {
                    flex-direction: column;
                    &__column {
                        align-items: center;
                        margin: 8px auto;
                        &--name {
                            text-align: center;
                        }
                    }
                    .start {
                        align-items: center;
                        margin: 8px auto;
                    }
                    .margin {
                        align-items: center;
                        margin: 8px auto;
                    }
                    .auto {
                        margin: 8px auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .weather {
        &__header {
            &--logo {
                width: 24px;
                height: 24px;
                margin: auto 16px auto 8px;
            }
            &--logo-name {
                display: none;
            }
            &--mode {
                width: 24px;
                height: 24px;
                margin: auto 8px auto 0;
            }
            input {
                width: 100%;
            }
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}