html, body {
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    border-radius: 1.75rem;
    background-color: #CCC;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.75rem;
    background-color: #808080;
}